.App {
  font-family: sans-serif;
  text-align: center;
}

.dashboardImage {
  float: right;
  width: 78%;
  border-radius: 15px;
}

.marginTop-10 {
  margin-top: 10%;
}

.removeTextDecoration {
  text-decoration: none;
  color: white;
}

.fontColor {
  color: #495057;
}

.seftIntro {
  font-size: 1.8rem;
}

.card {
  float: left;
  /* width: 25%; */
  padding: 0 10px;
}

@media screen and (max-width: 550px) {
  .seftIntro {
    font-size: 1.5rem !important;
    margin-top: 110%;
    margin-right: 58%;
  }
  .dashboardImage {
    margin-right: 58%;
    width: 129%;
  }
  .btnDownloadResume {
    width: 35%;
  }
  .btnFeedback {
    width: 35%;
  }
}
