.App {
  font-family: sans-serif;
  text-align: center;
}

.dashboardImage {
  float: right;
  width: 78%;
  border-radius: 15px;
}

.marginTop-10 {
  margin-top: 10%;
}

.removeTextDecoration {
  text-decoration: none;
  color: white;
}

.fontColor {
  color: #495057;
}

.seftIntro {
  font-size: 1.8rem;
}

.card {
  float: left;
  /* width: 25%; */
  padding: 0 10px;
}
